* 
{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

b, strong {
    color: #E40B0B; 
    background:#fff0ff;
    background-color:inherit;

}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

/* Menu */

header{
    padding: 8px 0;
    height: 90px;
}

.logo{
    float:left;
}

.logo img {
    height: 70px;
}

.menu-desk{
    float: right;
}

.menu-desk ul{
    position: relative;
    margin: 30px;
}

.menu-desk a{
    color: #E40B0B;
    text-decoration: none;
}

.menu-desk li{
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
}

.menu-desk li.selected{
    font-weight: bold;
}

.menu-desk a:hover{
    text-decoration: underline;
}

/* Banner */

.banner
{
    width: 100%;
    height: 500px;
    background: url(../img/imgbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.botao
{
    width: 200px;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 400px;
    transition-duration: 0.4s;
    background-color: #d31919;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.btn:hover
{
    background-color: hotpink;
    color: white;
}

/*diferenciais*/

.diferenciais
{
    padding: 30px 0px;
    text-align: center;

}

.line-text
{
    position: relative;
    display:inline-block;
}

.line-text div
{
    position: absolute;
    left: 0;
    top:0;
    width: 290px;
    height: 3px;
    background: #ed3434;
}

.line-text h2
{
    color: #ee0505;
    font-weight: normal;
    font-size: 27px;
}

.icones-diferenciais
{
    margin-top: 35px;
}

.box-icone-single
{
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.box-icone-single h2 span
{
    color: black;
    font-size: 40px;
}

.box-icone-single p
{
    color: black;
    font-weight: lighter;
    font-size: 15px;
}

/*Equipe*/
.sobre-equipe
{
    padding: 70px 0px;
    background: #ffcdb2;
    font-size: 16px;
}

.sobre-equipe > .container
{
    display: flex;
    flex-wrap: wrap;
}

.sobre
{
    width: 50%;
    font-size: 16x;
}

.equipe-container
{
    width: 50%;
}

.sobre p 
{
    color: black;
    margin-top: 10px;
}


.avatar 
{
    margin-top: 15px;
}
.img-avatar
{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-color: gray;
}

.descricao-avatar
{
    padding: 0px 10px;
    width: calc(100% - 75px);
    display: inline-block
}

.descricao-avatar h3
{ 
    color: black;
    font-weight: lighter;
}

.descricao-avatar p
{
    color:black;
    font-weight: lighter;
}


/*Inscrição*/
.inscricao
{
    background-color: red;
    padding: 20px 0px;
}

.w50
{
    width: 50%;
    float: left;
}

.center 
{
    text-align: center;
}

.inscricao-texto
{
    font-weight: normal;
    color: white;
}

.inscricao-form input[type=text]
{
    width: 350px;
    height: 30px;
    background: white;
    border: 1px solid #fff4e1;
    font-size: 16px;
    display: inline-block;
}

.inscricao-form input[type=submit]
{
    width: 120px;
    height: 30px;
    background: #fff4e1;
    cursor: pointer;
    display: inline-block;
    border: 0;
    color: red;
    font-weight: bold;
    font-size: 16px;
}

/*Cards*/
.cards
{
    padding: 30px 0px;
}

.card-single
{
    width: 33.3%;
    float: left;
    padding: 30px;
}

.card-single img
{
    width: 100%;
    height: 350px;
}

.card-single h3
{
    margin: 5px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.card-single p
{
    margin: 10px;
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 2px solid red;
    text-align: center;
}
    
/* Rodapé / Footer */
.w33
{
    float:left;
    width: 33.3%;
}

.footer1
{
    background: #ffcdb2;;
    padding: 20px;
    color: red;
}

.footer1 h2
{
    font-weight: normal;
    font-size: 24px;
}

.footer1 a 
{
    display: block;
    color: black;
    margin-top: 10px;
}

.group-icons a
{
    display: inline-block;
    margin-top: 15px 10px;
}

.footer2
{
    padding: 15px 0px;
    background-color: red;
    text-align: center;
    color: white;
}

/*Responsividade Geral / Correção de Bug*/
.clear
{
    clear: both;

}

/*Iframe Responsivo*/
.containerIframe1
{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50%;
}

.responsive-iframe
{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 90%;
}

/*Menu Mobile/Responsivo*/

.menu-mobile
{
    display: none;
    float: right;
}

.menu-mobile h2{
    cursor: pointer;
}

.menu-mobile ul{
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 999;
    text-align: center;
}

.menu-mobile li
{
    padding: 8px 0px;
    border-bottom: 1px solid black;
}

.menu-mobile li.selected
{
    background-color: red;
}

.menu-mobile a
{
    color: black;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 500px)
{
.menu-desk
{
    display: none;
}
.menu-mobile
{
    display:block
}
}

/*Título SOBRE*/
.title-page
{
    padding: 70px;
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.title-page h2
{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Cookie', cursive;
    text-shadow: black 1px 1px;
}

/*Notícias SOBRE*/
.sobre-noticia-single
{
    padding: 20px 0px;
}

.sobre-noticia-single img
{
    float: left;
    max-width: 100%;
    width: 45%;
}

.sobre-noticia-single p
{
    font-size: 16px;
    padding: 10px 15px;
    float: left;
    width: 45%;
    text-align: justify;
}

.paragrafo-noticia-single p
{
    margin-top: 15px;
}

/*Paralax*/
.paralax
{
    padding: 30px 0px;
    width: 100%;
    min-height: 400px;
    background-image: url(../img/paralaxm.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.botao2
{
    width: 200px;
    text-align: center;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 150px;
    transition-duration: 0.4s;
    background-color: #d31919;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.btn:hover
{
    background-color: hotpink;
    color: white;
}

/*Equipe SOBRE*/
.equipe-container
{
    padding: 40px 0px;
    text-align: center;
}

.equipe-circles
{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.equipe-circle-single
{
    width: 50%;
    text-align: center;
    padding: 0px 20px;
}

.equipe-circle-single h3
{
    margin-top: 8px;
    font-size: 20px;
    font-weight: normal;
    
}

.avatar2
{
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
}

.avatar2-container
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: indigo;
    background-size: 100% 100%;
}

/*Destaque SOBRE*/
.destaque
{
    background-color: #f58989;
    padding: 20px 0px;
}

.destaque p
{
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
}

.card-text
{
    margin-top: 10px;
    width: 80%;
    position: relative;
}

.card-text img
{
    max-width: 100%;
    height: 400px;
}

/*Página Contato*/
.h2
{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Cookie', cursive;
    text-shadow: black 1px 1px;
}

.contato
{
    min-height: 400px;
    padding: 30px 0px;
}

.contato .w50
.contato .w100
{
    padding: 0px 10px;
}

.formulario form
{
    margin-top: 10px;
}

.formulario h2
{
    background: #e98080;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0px;
    border-left: 20px solid rgb(248, 138, 138);
    border-right: 20px solid rgb(248, 138, 138);
}

.w60
{
    width: 60%;
    float: left;
}

.w40
{
    width: 40%;
    float: left;
}

.formulario input[type=text]
.formulario input[type=email]
{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 8px;
}

.formulario textarea
{
    width: 100%;
    height: 140px;
    margin-bottom: 15px;
    padding: 10px;
}

.tags-form
{
    padding-left: 50px;
}

.tags-form h2
{
    font-weight: normal;
}

.tags-form p 
{
    font-weight: lighter;
}

.tags-form p.tag-contato
{
    color: white;
    background: #e98080;
    text-align: center;
    margin-top: 8px;
    padding: 8px 4px;
    border-left: 2.5px solid rgb(248, 138, 138);
    border-right: 2.5px solid rgb(248, 138, 138);
}